    /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v18-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-900 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v18-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v18-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v18-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v18-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v18-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v18-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* poppins-100 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/poppins-v15-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-100.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-100.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-200 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/poppins-v15-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-200.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-300 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v15-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-regular - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-500 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-600 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v15-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-800 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v15-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-900 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v15-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    font-family: 'Poppins';
    background-color: #FAFAFB;
}
:root
{
    --color-primary:#fd4766;
    --color-white: #fff;
    --color-secondary: #337dff;
    --color-secondary-rgb: #fd4766;
    --color-tertiary: #010001;
    --color-dark: #000;
    --color-heading: #1f1f25;
    --color-body: #1d1d24;
    --color-gray: #757575;
    --color-midgray: #e9ecef;
    --color-opacity-1: hsla(0,0%,100%,0.2);
    --color-light: #e4e6ea;
    --color-lighter: #ced0d4;
    --color-lightest: #f0f2f5;
    --color-border: #e6e6e6;
    --color-white: #fff;


}

/* ============================================================================================
                                    DEFULT CSS
============================================================================================ */
.container
{
    max-width: 1260px;
    margin: auto;
}
/* .p-y30
{
    padding: 30px 0;
}
.p-top-100
{
    padding-top: 100px;
} */
.spacerY
{
    padding: 120px 0;
}
a
{
    text-decoration: none;
}
ul
{
    list-style: none;
}
.flex
{
    display: flex;
}
.space-between
{
    justify-content: space-between;
}
.in-block
{
    display: inline-block;
}
.align-item-center
{
    align-items: center;
}
.btn
{
    padding: 16px 40px;
    font-weight: 500;
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    border: 2px solid var(--color-gray);
    border-radius: 500px;
    transition: 0.5s;
}
.btn:hover
{
    background-color: var(--color-primary);
    border: 2px solid transparent;
}
.position-relative
{
    position: relative;
}
.small-title
{
    font-size: 16px;
    font-weight: 600;
    /* position: relative; */
    display: inline-block;
    padding-bottom: 3px;
    background: linear-gradient(
        120deg,#1c99fe 20.69%,#7644ff 50.19%,var(--color-primary) 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 12px;
}

.big-title
{
    font-size: 50px;
    font-weight: 600;
    line-height: 62px;
    margin-bottom: 20px;
    color: #1f1f25;
}

/* ============================================================================================
                                    DEFULT CSS END
============================================================================================ */

/* ============================================================================================
                                        HEADER START
============================================================================================ */
header
{
    z-index: 999;
    position: absolute;
    width: auto;
    padding: 0 50px;
    left: 0;
    right: 0;
}
.nav-bar
{
    width: 100%;
    padding: 30px 0;
}
.nav-bar .header-left figure a img
{
    max-height: 60px;
}
.nav-bar .header-right nav .main-menu
{
    display: flex;
}
.main-menu  li
{
    margin: 0 15px;
    position: relative;
    
}
.main-menu > li:first-child
{
    margin-left: 0px;
}
.main-menu li a
{
    padding: 15px 0;
    display: block;
    font-weight: 500;
    color: var(--color-white);
    transition: 0.5s;
}
.header-btn
{
    margin-left: 50px;
}
.main-menu li .sub-menu
{
    position: absolute;
    min-width: 240px;
    background-color: var(--color-white);
    top: 100%;
    left: 0;
    padding: 12px 0;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.main-menu li .sub-menu li a
{
    color: var(--color-heading);
    font-size: 14px;
    padding: 5px 20px;
    display: block;
    transition: 0.5s;
}
.main-menu li .sub-menu li  a:hover
{
    color: var(--color-primary);
    background-color: rgba(253, 71, 102,0.1);
}
.main-menu li:hover > a
{
    color: var(--color-primary);
}
.main-menu li:hover .sub-menu
{
    opacity: 1;
    visibility: visible;
}
/* <!-- ============================================================================================
                                        service-wrapper START
============================================================================================  --> */
.content-1
{
    position: relative;
    min-height: 900px;
    width: 100%;
    box-sizing: border-box;

}
.bg-img-main
{
    /* background-image: url(../images/bg-image-1.jpg); */
    /* width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2; */
    position: relative;
    
}
.bg-img-sub
{
    background-image: url(../images/bg-image-1.jpg);
    width: 100%;
    min-height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    align-items: center;

}
.bg-img-sub::before
{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* z-index: -1; */
    top: 0;
    left: 0;
    background-color: #010001;
    opacity: 0.8;

}
.text
{
    font-size: 50px;
    text-align: center;
    line-height: 112px;
    padding-top: 170px;
    color: var(--color-white);
    font-family: Montserrat,sans-serif;
}
.row
{
   display: flex;
   /* flex-wrap: wrap; */
   
}
.theme-grediant
{
    background: linear-gradient(
        120deg,#1c99fe 20.69%,#7644ff 50.19%,var(--color-primary) 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
     
}
.service-wrapper
{
    height: 300px;
    width: 100%;
    /* background-color: rgba(253, 71, 102,0.1); */ 
}

.row-1
{
    position: relative;
}
/* .box
{
    background-color: violet;
    float: left;
    width: 33.33%;
    padding: 0 25px;
} */
.service
{
    margin-top: 85px;
    width: 33.33%;
    text-align: center;
    padding: 0 15px;
}
.icon
{
    font-size: 60px;
    color: var(--color-secondary-rgb);
    text-align: center;
    /* display: block; */
    /* margin-bottom: 22px; */
    
}
.icon svg
{
    stroke-width: 1;

}
.title
{
    color: var(--color-white);
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 24px;
    
}
.service .content p
{
    color: var(--color-gray);
    font-size: 18px;

}
/* <!-- ============================================================================================
                                    service-wrapper END
============================================================================================  --> */

    /* <!-- ============================================================================================
                                        About-area start
============================================================================================  --> */
.about-area
{
    background-color: var(--color-white);
}
.about-wrapper
{
    /* width: 100%; */
    display: flex;
    
}
.left
{
    position: relative;
    padding: 0 25px;
}
.thumbnail
{
    width: 100%;
    position: relative;
}
.thumbnail img
{
    position: relative;
    width: 483px;
    height: 595px;
}
.icon-1
{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #fd4766;
    background: var(--color-primary);
    border-radius: 100%;
    text-align: center;
    color: #fff;
    line-height: 70px;
    font-size: 27px;
    margin-bottom: 17px;
    padding-right: 3px;
    margin-top: 42px;
}
.icon-1 svg
{
    stroke-width: 1;
}
.right
{
    position: relative;
    padding: 0 25px;
}
.right .section .title
{
    color: var(--color-tertiary);
    font-size: 50px;
    line-height: 1.3;
    margin-bottom: 35px;
}
.discription
{
    font-weight: 300;
    color: var(--color-gray);
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.btn-transparent
{
    font-size: 14px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    background: linear-gradient(
        120deg,#1c99fe 20.69%,#7644ff 50.19%,var(--color-primary) 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-transparent::after
{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 40px;
    height: 2px;
    opacity: .75;
    background: linear-gradient(
        120deg,#1c99fe 20.69%,#7644ff 50.19%,var(--color-primary) 79.69%);
    transition: 0.3s;
}
.btn-transparent:hover
{
    color: var(--color-primary);
}

.btn-transparent:hover:after
{
    width: 100%;
}


/* <!-- ============================================================================================
                                        services start
============================================================================================  --> */
.services
{
    text-align: center;
}
.services .row
{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.services .container p
{
    color: var(--color-gray);
    margin-bottom: 30px;
    font-size: 18px;
}
.services .services-col
{
    margin: 0 15px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 40px;
    text-align: left;
    max-width: 30.33%;
    background-color: var(--color-white);
    /* margin-bottom: 30px; */
    transition: 0.5s;
}
.services .services-col:hover
{
    transform: translateY(-5px);
}
.services .services-col a
{
    display: block;
}
.services .services-col .icon
{
    text-align: left;
    font-size: 45px;
}
.services .services-col a h3
{
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--color-dark);
    font-weight: 600;
}
.services .services-col a p
{
    margin: 0;
}
.services .container .row .services-col:nth-child(2) a .icon
{
    color: var(--color-secondary);
} 
.services .container .row .services-col:nth-child(3) a .icon
{
    color: #12d8df;
}
.services .container .row .services-col:nth-child(4) a .icon
{
    color: #59c98d;
}
.services .container .row .services-col:nth-child(5) a .icon
{
    color: #6f41f6;
}
.services .container .row .services-col:nth-child(6) a .icon
{
    color: #357ff6;
}
/* <!-- ============================================================================================
                                        OUR PROJECT start
============================================================================================  --> */
.our-project
{
    text-align: center;
}
.our-project .container  .heading-title
{
    color: var(--color-gray);
    margin-bottom: 30px;
    font-size: 18px;
}
.our-project-col 
{
    width: 33.33%;
    border-radius: 10px;
    margin: 15px ;
    position: relative;
    transition: 0.5s;
    overflow: hidden;

}   
.our-project-content
{
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
    height: 150px;
    transition: 0.5s;
    z-index: 3;
}

.our-project-col  .our-project-content .category_list a
{
    color: #fff;
    opacity: .7;
    display: inline-block;
    /* margin: 5px; */
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .5px;
}
.our-project-col  .our-project-content .title a
{
    color: #fff;
    font-size: 30px;
}
.our-project-col  .our-project-content .title
{
    margin-top: 5px;
}

.our-project-col  .our-project-col-img
{

    position: relative;
    transition: 0.5s;

}
.our-project-col  img
{
    border-radius: 10px;

}
.our-project-col  .our-project-col-img::before
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 98.9%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(
    180deg,rgba(15,15,15,0),rgba(15,15,15,.75))
}
.our-project-col  .our-project-content .portfolio_hover
{
    opacity: 0;
    transition: 0.5s;
    color: var(--color-white);
    font-size: 18px;
}
.our-project-col:hover .our-project-content
{
    transform: translateY(-100px);
}
.our-project-col:hover .our-project-content .portfolio_hover
{
    transform: translateY(0);
    opacity: 1;
    transition: opacity .65s cubic-bezier(.05,.2,.1,1) .15s,transform .65s cubic-bezier(.05,.2,.1,1) .15s;
    color: white;
}
.transparent_link
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.transparent_link::after
{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        180deg,transparent,var(--color-primary));
    transition: opacity .65s cubic-bezier(.05,.2,.1,1);
    cursor: pointer;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}
.our-project-col:hover .transparent_link::after
{
    opacity: 1;
    visibility: visible;
}
.our-project-col:hover .our-project-col-img
{
    transform: scale(1.1);
    overflow: hidden;
}
.our-project-col:hover
{
    transform: translateY(-10px);
}

   /* <!-- ============================================================================================
                                        Experts growts START
============================================================================================  --> */

/* -------main title section -------- */
.counterup-growth
{
    text-align: center;
}
.counterup-growth .row
{
    display: flex;
    justify-content: center;
}
.counterup-growth .container .heading-title
{
    color: var(--color-gray);
    margin-bottom: 30px;
    font-size: 18px;
}
.counterup-growth .container .row
{
    margin-top: 30px;
}
.counterup-growth-col
{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    /* background-color: rgba(177, 177, 177, 0.233); */
    margin:  0 15px;
    margin-top: 30px;
    border-radius: 10px;
}
.counterup-growth-col .inner .icon
{
    height: 50px;
    width: 50px;
    margin: 0 auto;
    line-height: 47px;
}
.counterup-growth-col .inner .icon svg
{
    height: 45px;
    width: 45px;
}
.counterup-growth-col .inner .counter
{
    font-size: 54px;
    font-weight: 600;
    line-height: 62px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    margin-bottom: 7px;
    color: var(--color-heading);
}
.counterup-growth-col .inner .counter::after
{
    content: "+";
    color: var(--color-heading);
}
.description
{
    font-size: 18px;
    line-height: 28px;
    color: var(--color-gray);
}
/* ----------icon color----------- */
.counterup-growth .container .row .counterup-growth-col:nth-child(2) .inner .icon svg
{
    color: var(--color-secondary) ;
}
.counterup-growth .container .row .counterup-growth-col:nth-child(3) .inner .icon svg
{
    color: #ff8f3c ;
}
.counterup-growth .container .row .counterup-growth-col:nth-child(4) .inner .icon svg
{
    color: #3eb75e ;
}

    /* <!-- ============================================================================================
                                        Latest News START
============================================================================================  --> */


.news-list
{
    text-align: center;
}
.news-list .container  .heading-title
{
    color: var(--color-gray);
    margin-bottom: 30px;
    font-size: 18px;
}
.news-list-col 
{
    width: 33.33%;
    border-radius: 10px;
    margin: 15px ;
    position: relative;
    transition: 0.5s;
    overflow: hidden;

}   
.news-list-content
{
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
    height: 150px;
    transition: 0.5s;
    z-index: 3;
}

.news-list-col  .news-list-content .category_list a
{
    color: #fff;
    opacity: .7;
    display: inline-block;
    /* margin: 5px; */
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .5px;
}
.news-list-col  .news-list-content .title a
{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.news-list-col  .news-list-content .title
{
    margin-top: 5px;
}

.news-list-col  .news-list-col-img
{

    position: relative;
    transition: 0.5s;

}
.news-list-col  img
{
    border-radius: 10px;

}
.news-list-col  .news-list-col-img::before
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 98.9%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(
    180deg,rgba(15,15,15,0),rgba(15,15,15,.75))
}
.news-list-col  .news-list-content .portfolio_hover
{
    opacity: 0;
    transition: 0.5s;
    color: var(--color-white);
    font-size: 18px;
}
.news-list-col:hover .news-list-content
{
    transform: translateY(-100px);
}
.news-list-col:hover .news-list-content .content_footer
{
    transform: translateY(0);
    opacity: 1;
    transition: opacity .65s cubic-bezier(.05,.2,.1,1) .15s,transform .65s cubic-bezier(.05,.2,.1,1) .15s;
    color: white;
}
.rn-btn
{
    padding: 5px 23px;
    color: var(--color-white);
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid var(--color-opacity-1);
    position: relative;
    margin-top: 10px;
    transition: 0.5s;
    border-radius: 5px;
}
.rn-btn:hover
{
    transform: translateY(-10px);
    background-color: rgba(167, 1, 29, 0.233);
    border: 2px solid transparent;
    /* box-shadow: 0 0 5px rgba(191, 2, 34, 0.4); */
}
.transparent_link
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.transparent_link::after
{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        180deg,transparent,var(--color-primary));
    transition: opacity .65s cubic-bezier(.05,.2,.1,1);
    cursor: pointer;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}
.news-list-col:hover .transparent_link::after
{
    opacity: 1;
    visibility: visible;
}
.news-list-col:hover .news-list-col-img
{
    transform: scale(1.1);
    overflow: hidden;
}
.news-list-col:hover
{
    transform: translateY(-10px);
}

/* <!-- ============================================================================================
                                        TOP client START
============================================================================================  --> */
.clients
{
    text-align: center;
}
.clients .container .row
{
    display: flex;
    flex-wrap: wrap;
}
.clients-col
{
    margin-top: 40px;

}
.brand-style-2
{
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.brand-style-2 li
{
    padding: 25px;
    flex-basis: 20%;
    text-align: center;
}
.brand-style-2 li img
{
    transition: 0.5s;
    max-width: 150px;
    max-height: 110px;
    opacity: 8;
    filter: grayscale(1);
}
.brand-style-2 li:hover img
{
    opacity: 1;
    filter: grayscale(0);
    transform: scale(1.2);
}

/* <!-- ============================================================================================
                                        footer START
============================================================================================  --> */

/* -----------up area------------ */


.footer-area
{
    /* height: 100vh; */
    width: 100%;
    background-color: var(--color-dark);
}
.footer-area .container .up-area
{
    padding: 70px 15px;
    justify-content: space-between;
    position: relative;
}
.footer-area .container .up-area .inner
{
    width: 50%;
}
.footer-area .container .up-area .inner h2
{
    color: var(--color-white);
    font-size: 36px;
}
.footer-area .container .up-area .button-area
{
    width: 50%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.footer-area .container .up-area .button-area .header-btn .btn
{
    padding: 26px 60px;
}
.footer-area .container .up-area::after
{
    content: "";
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--color-opacity-1);
    position: absolute;
    display: flex;
    align-items: center;
}




/* -----------Down area------------ */





.footer-area .container .down-area
{
    padding: 70px 40px 70px 15px;
    justify-content: space-between;
    position: relative;
    
}
.footer-area .container .down-area .down-area-col-1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}
.footer-area .container .down-area .down-area-col-1 .logo a
{
    display: block;

}
.footer-area .container .down-area .down-area-col-1 .logo a img
{
    max-height: 60px;
    margin-bottom: 60px;
}

.footer-area .container .down-area .down-area-col-1 p
{
    color: var(--color-gray);
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;

}
.footer-area .container .down-area .down-area-col-1 p a
{
    color: var(--color-gray);
    position: relative;
    transition: 0.5s;

}
.footer-area .container .down-area .down-area-col-1 p a::after
{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(
    120deg,#1c99fe 20.69%,#7644ff 50.19%,var(--color-primary) 79.69%);
    transition: 0.5s;

}
.footer-area .container .down-area .down-area-col-1 p a:hover
{
    color: var(--color-primary);
}
.footer-area .container .down-area .down-area-col-1 p a:hover::after
{
    width: 100%;
    background: linear-gradient(
    120deg,#1c99fe 20.69%,#7644ff 50.19%,var(--color-primary) 79.69%);
}
.footer-area .container .down-area  .down-area-col-2
{
    margin-left: 105px;
    padding: 0 15px;
}
.footer-area .container .down-area  .down-area-col-2 h4,
.footer-area .container .down-area  .down-area-col-3 h4,
.footer-area .container .down-area  .down-area-col-4 h4
{
    color: var(--color-white);   
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 20px;

}
.footer-area .container .down-area  .down-area-col-2 ul li+li,
.footer-area .container .down-area  .down-area-col-3 ul li+li,
.footer-area .container .down-area  .down-area-col-4 ul li+li
{
    margin-top: 13px;
}
.footer-area .container .down-area  .down-area-col-2 ul li a,
.footer-area .container .down-area  .down-area-col-3 ul li a,
.footer-area .container .down-area  .down-area-col-4 .contact-details li a

{
    color: var(--color-gray);
    position: relative;
}
.footer-area .container .down-area  .down-area-col-2 ul li a::after,
.footer-area .container .down-area  .down-area-col-3 ul li a::after,
.footer-area .container .down-area  .down-area-col-4 .contact-details li a::after
{
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    background: linear-gradient(
    120deg,#1c99fe 20.69%,#7644ff 50.19%,var(--color-primary) 79.69%);
    transition: 0.5s;
}
.footer-area .container .down-area .down-area-col-2 ul li a:hover,
.footer-area .container .down-area .down-area-col-3 ul li a:hover,
.footer-area .container .down-area .down-area-col-4 .contact-details li a:hover
{
    color: var(--color-primary);
}
.footer-area .container .down-area .down-area-col-2 ul li a:hover::after,
.footer-area .container .down-area .down-area-col-3 ul li a:hover::after,
.footer-area .container .down-area .down-area-col-4 .contact-details li a:hover::after
{
    width: 100%;
    background: linear-gradient(
    120deg,#1c99fe 20.69%,#7644ff 50.19%,var(--color-primary) 79.69%);
}

/* -----------social media ----------- */
.social-media ul li
{
    display: inline-block;
    margin: 6px;
    margin-top: 20px;
    transition: 0.5s;
}

.social-media ul li a i
{
   color:rgba(198,201,216,.75);
   transition: 0.3s;
}
.social-media ul li a
{
    height: 20px;
    width: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    text-align: left;
    font-size: 16px;
    transition: 0.3s;
}
.social-media ul li:hover a i
{
    color: white;
    transform: translateY(-5px);
} 

/* ----------------contact details---------- */

.footer-area .container .down-area .down-area-col-4 .contact-details li 
{
    color: var(--color-gray);
}






